* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #f5f5f5;
    display : flex;
    flex-direction: column;
    justify-content: center;
}

header{
    text-align: center;
    background-color:#4B0082;
    font-size: 15px;
    padding: 15px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    flex-wrap: wrap;
    position: sticky; 
    top: 0;
    z-index: 1000;
}
header nav{
    display: flex;
}
header .felicitacoes {
    display: flex;
    justify-content: row;
    padding: 10px;
    font-size: large;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    list-style: none;
}

header nav ul a{
    text-decoration : none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}
header nav ul a:hover {
    color: #C8A2FF; 
}
header .felicitacoes:hover {
    color: #C8A2FF; 
}
header h1, header .header-p, header .felicitacoes {
    color: #fff;
}
main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.imagem{
    display: flex;
    justify-content: center;
    background-color: #C8A2FF;
    padding: 40px 0;
}
img{
    display: flex;
    flex-direction: column;
    width: 250px; 
    height: 250px;
    border: 4px solid white; 
    border-radius: 50%;    
}
/* --- SEÇÃO SOBRE --- */
main .secao{
    text-align: center;
    padding: 20px 0;

}
main .sobre{
    scroll-margin-top: 84px;
}
.texto-sobre {
    max-width: 800px; 
    margin: 0 auto; 
    background-color: rgb(214, 204, 204);
    padding: 20px;
    border-radius: 10px; 
}

.texto-sobre p{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.3; 
}



main .container{
    display: flex;
    flex-direction: column;
    background-color:  #C8A2FF;
    
} 
main div .secao{
    height: 210px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    gap:10px;
}


main .grid-projetos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;  
    align-items: stretch; 
}
main .card{
    background-color:rgb(214, 204, 204);
    border-radius: 50px;
    overflow: hidden;

}
.card:hover {
    transform: scale(1.03); 
}
main .card-conteudo{
    padding: 10px;
}
main .card-conteudo h3{
    margin-top: 10px;
    color: blueviolet;
    align-items: center;

}
main .sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
main div p{
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;

}
main section h2{
    display: flex;
    padding: 2px;
    justify-content: center;
}
main section div{
    display: flex;
    font-size: 20px;
    justify-content: center;
    gap: 4px;
    padding: 10px;
    color: #000;
    list-style: none;
    flex-wrap: wrap;
}
main section div li{
    display: flex;
    background-color: rgb(214, 204, 204);
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 50px;
}
main section div li:hover{
    transform: scale(1.03);
}
.card-img {
    height: 200px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeholder-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}
main .contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .contato p{
    display: flex;
    align-items: center;
}
main .contato p i{
    font-size: 25px;
}
main .contato-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.form-group{
    margin-bottom: 20px;
}
main .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    align-items: flex-start;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid  rgb(214, 204, 204);
    border-radius: 30px;
    font-size: 1rem;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color:  rgb(214, 204, 204) ;
}
.btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #4B0082;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}
.btn :active{
    transform: scale(0.95);
}
.btn2 {
    display: inline-block;
    background-color: #4B0082;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.btn2 :active{
    transform: scale(0.95);
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    scroll-margin-top: 84px;

    
}
.formulario h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
main .algo{
    text-align: center;
    color: #4B0082;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}
footer {
    background-color: rgb(214, 204, 204);
}
footer h2{
    display: flex;
    font-size: 20px;
    font-weight: 450;
    padding: 2px;
    justify-content: center;
    color: #4B0082;
    border-radius: 50px;
}
footer .minhas-redes{
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    color: #000;
    list-style: none;
    margin: 15px 0;
}
footer ul li a i{
    color: #000;
    font-size: 30px;
    transition: 0.8s;
}

footer ul li a .fa-linkedin:hover{
    color:#0A66C2;
}

footer ul li a .fa-github:hover{
    color: #3b3534
;
}

footer ul li a .fa-instagram:hover{
    color:#C13584;
}
footer p{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 450;
}
