* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    background-color: #f5f5f5;
    display : flex;
    flex-direction: column;
    justify-content: center ;
}

header{
    color: #000;
    text-align: center;
    background-color: rgb(214, 204, 204);
    font-size: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav{
    display: flex;
}
header .felicitacoes {
    display: flex;
    justify-content: row;
    padding: 10px;
    font-size: large;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    list-style: none;
}

header nav ul a{
    text-decoration : none;
    color: #000;
    font-size: 20px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.imagem{
    display: flex;
    justify-content: center;
    
}
img{
    display: flex;
    flex-direction: row;
    width: 30%;
    border: 10px solid black; 
    border-radius: 10%;    
}
main .sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
main div p{
    display: flex;
    font-size: 18px;
    justify-content: left;
    background-color: rgb(214, 204, 204);
    padding: 20px;
    width: 85%;
}
main section h2{
    display: flex;
    padding: 2px;
    justify-content: center;
}
main section ul{
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    color: #000;
    list-style: none;
    flex-wrap: wrap;
}
main section ul li{
    display: flex;
    background-color: rgb(214, 204, 204);
    align-items: center;
    padding: 5%;
}
footer h2{
    display: flex;
    padding: 2px;
    justify-content: center;
}
footer ul{
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    color: #000;
    list-style: none;
}
footer ul li a i{
    color: #000;
    font-size: 30px;
    transition: 0.8s;
}

footer ul li a .fa-linkedin:hover{
    color:#0A66C2;
}

footer ul li a .fa-github:hover{
    color: #3b3534
;
}

footer ul li a .fa-instagram:hover{
    color:#C13584;
}
footer p{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 450;
}
